.s2 {
    background: url('../img/s2/bg.jpg') no-repeat;
    background-size: cover;
}

.s2 div {
    box-sizing: border-box;
}

.s2 > h1 {
    color: white;
}

.s2 > h3 {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.s2 .row {
    height: 80%;
    margin-top: 30px;
}

.s2 .row > .left {
    height: 80%;
}

.s2 .tablet {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/s2/fond.png') no-repeat;
    background-size: 100%;
}

.s2 .nav {
    position: absolute;
    top: 13%;
    bottom: 82.8%;
    left: 10.4%;
    right: 10.5%;
    cursor: pointer;
    font-size: 0;
}

.s2 .nav a {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 16.66%;
    height: 100%;
}

.s2 .inside {
    background-color: #d3d3d3;
    position: absolute;
    top: 17.2%;
    bottom: 6%;
    left: 10.4%;
    right: 10.5%;
}

.s2 .tuto3 + .popover {
    width: 200px;
}

.s2 .inside img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.s2 .row > .right {
    height: 80%;
    position: relative;
}

.s2 .wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.s2 .desc {
    position: relative;
    top: -50%;
    left: 5%;
    display: none;
}

.s2 .desc.current {
    display: block;
}

.s2 .tuto3 {
    position: absolute;
    top: 50%;
    right: 0;
    height: 50px;
}

.s2 .tuto4 {
    position: absolute;
    top: 0;
    right: -150px;
}